.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* form pembelian buah */

#form{
  border:1px solid #000;
  border-radius:10px;
  max-width:450px;
  margin:80px auto;
  padding:20px;
}
#form h2{
  font-size:25px;
}
#form label{
  font-weight:bold;
}
.form-group{
  position:relative;
  padding:8px 0;
  text-align:left;
}
.form-group label{
  width:150px;
  display:inline-block;
  font-weight:bold;
}
.form-group .input-wrap{
  width:300px;
  display:inline-block;
}
.form-group .input-wrap input[type=text],
.form-group .input-wrap input[type=email]{
  width:100%;
  max-width:180px;
}
.form-group .input-wrap textarea{
  width:100%;
  min-height:80px;
}
.form-group input[type=submit]{
  border-radius: 10px;
  border:1px solid #000;
  padding:3px 8px;
}

/* Tabel Harga Buah */
.table-wrap{
  width:700px;
  margin:0 auto;
  display: block;
  padding-top:50px;
}
.table-wrap h2{
  text-align:center;
  font-size:30px;
}
.table-wrap table{
  width: 100%;
  border:2px solid #999;
}
.table-wrap th{
  background:#999;
}
.table-wrap td{
  background:orange;
}

/* Nav */
nav{
  width:100%;
  background:#ddd;
  border:1px solid #ccc;
  text-align:center;
  position: fixed;
  top:0;
}
nav ul{
  display: block;
  padding:0;
  margin:0;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  padding:10px 15px;
  background:#ddd;
  text-decoration:none;
  color:#000;
  display: block;
  border-right:1px solid #ccc;
}
nav ul li:first-child a{
  border-left:1px solid #ccc;
}
nav ul li a:hover, nav ul li a:active{
  background:#fff;;
}
nav ul li button{
  padding:12px 20px;
  font-size:16px;
  border:none;
  background:transparent;
  cursor:pointer;
  display: inline-block;
}
nav ul li button:active,nav ul li button:focus{
  outline:none;
}
nav ul li button:hover{
  background:#fff;
}
/* dark theme */
nav.dark{
  background:#000;
  border:1px solid #000;
}
nav.dark ul li a{
  background:#000;
  color:#fff;
  border-right:1px solid #fff;
}
nav.dark ul li:first-child a{
  border-left:1px solid #fff;
}
nav.dark ul li a:hover, nav ul li a:active{
  background:#fff;
  color:#000;
}
nav.dark ul li button{
  color:#fff;
}
nav ul li button:hover{
  color:#000;
}